#main-body {
    height: calc(100vh - 56px);
    min-height: 100%;
    background-color: $dark-gray;

    .notes-list-item {
        background-color: $gray;
        color: $light;
        border-bottom: 1px solid $dark-gray;
        transition: background-color $transition-fast;
        
        &:hover {
            background-color: $light-gray;
        }
    }
    
    #editor {
        height: calc(100vh - 56px);
        overflow: hidden;
    }
}